<template>
  <div class="home">
    <sign-in-form/>
  </div>
</template>

<script>
// @ is an alias to /src
import SignInForm from '@/components/SignInForm.vue';

export default {
  name: 'home',
  components: {
    SignInForm,
  },
};
</script>
