<template>
    <div class="container">
        <div class="question-header">
            <h3>FREQUENTLY ASKED QUESTIONS</h3>
        </div>
        <div class="question-table">
        </div>
    </div>
</template>
<style scoped>
    .container{
        padding-top:30px;
        width: 80%;
        margin: auto;
    }
    .question-header{
        width: 100%;
        height: 80px;
        box-shadow: 1px 1px 2px #888;
        background: #4fafbf;
        background: -webkit-linear-gradient(left,#4fafbf,#327ec7);
        background: -o-linear-gradient(left,#4fafbf 0,#327ec7 100%);
        background: linear-gradient(90deg,#4fafbf 0,#327ec7);
    }
    .question-table{
        height: 500px;
        width: 100%;
        margin-top: 10px;
        -webkit-box-shadow: 0.5px 0.5px 1px #c4c5c6;
        box-shadow: 0.5px 0.5px 1px #c4c5c6;
    }
    .question-header h3{
        color: white;
        padding: 30px 0 30px 30px;
    }
   
</style>
