<template>
    <div class="container">
        <div class="line"></div>
        <div style="width:90%;margin:auto ">
            <div class="logo"><img src="../../public/img/healthdx_logo.png" alt=""></div>
            <div class="nav-bar">
                <router-link to="/results" tag="li" active-class="active" exact><a>RESULT</a></router-link>
                <router-link to="/profile" tag="li" active-class="active"><a>PROFILE</a></router-link>
                <router-link to="/faq" tag="li" active-class="active"><a>FAQ</a></router-link>
            </div>
        </div>
            
    </div>
</template>
<style scoped>
.container{
    width: 90%;
    margin: auto;
    }
    .line{
    width: 100%;
    height: 4px;
    margin: 10px 0 30px 0;
    background: -webkit-linear-gradient(left,#4fafbf,#327ec7);
    background: -o-linear-gradient(left,#4fafbf 0,#327ec7 100%);
    background: linear-gradient(90deg,#4fafbf 0,#327ec7);
    }
    .logo{
    width:12%;
    display: inline-block;
    }
    img{
    height: auto;
    width: 100%;
    }
    .nav-bar{
    float: right;
    display: inline-flex;
    width: 70%;
    justify-content: flex-end; 
    }
    .nav-bar li{
        list-style-type: none;
    }
    .nav-bar a{
    text-decoration: none;
    margin-left: 30px;
    color:#92bcc3;
    }
    .active a{
        color:#1d7482;
    }
</style>
