<template>
    <div class="container">
        <div class="profile-info">
            <div class="profile-header">
                <span>PROFILE</span>
            </div>
            <div class="profile-photo"></div>
            <div class="profile-detail">
                <h4>NAME</h4>
            </div>
        </div>
    </div>
</template>
<script>
import AppHeader from './Header';
import Results from './Results';
export default {
    
    components:{
        AppHeader,
        Results
    }
}
</script>
<style scoped>
    .profile-info{
        padding-top: 50px;
        height: 350px;
        width: 450px;
        margin: auto;
        position: relative;
    }
    .profile-header{
        height: 20%;
        background: -webkit-linear-gradient(left,#4fafbf,#327ec7);
        background: -o-linear-gradient(left,#4fafbf 0,#327ec7 100%);
        background: linear-gradient(90deg,#4fafbf 0,#327ec7);
        box-shadow: 0.5px 0.5px 1px #c4c5c6;
    }
    .profile-header span{
            color: white;
            font-weight: 700;
            position: relative;
            top: 25px;
            left: 10px;
    } 
    .profile-photo{
        background-image: url('../../public/img/ava.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 100%;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 70px;
        left: 175px;
    }
    .profile-detail{
        margin-top: 10px;
        height: 80%;
        box-shadow: 0.5px 0.5px 1px #c4c5c6;
        padding: 50px 80px 10px;
    }
    .profile-detail {
        text-align: center;
    }
</style>

