<template>
    <div class="container">
        <div class="result-header">
            <h3>LABORATORY RESULTS</h3>
        </div>
        <div class="result-table">
            <table>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Test Type</th>
                    <th>Date</th>
                    <th>Result</th>
                    <th>Note</th>
                </tr>
                <tr>
                    <td>Peter</td>
                    <td>Griffin</td>
                    <td>$100</td>
                    <td>25.1.2018</td>
                    <td>
                        <router-link :to="{ name: 'resultdetails'}" target="_blank">
                        <a class="button-result">Hb-25-1</a>
                        </router-link>
                    </td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Lois</td>
                    <td>Griffin</td>
                    <td>$150</td>
                    <td>25.1.2018</td>
                    <td><a class="button-result" target="_blank" href="/result">Hb-25-1</a></td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>Lois</td>
                    <td>Griffin</td>
                    <td>$150</td>
                    <td>25.1.2018</td>
                    <td><a class="button-result" target="_blank" href="/result">Hb-25-1</a></td>
                    <td>25.1.2018</td>
                </tr>
                <tr>
                    <td>Lois</td>
                    <td>Griffin</td>
                    <td>$150</td>
                    <td>25.1.2018</td>
                    <td><a class="button-result" target="_blank" href="/result">Hb-25-1</a></td>
                    <td>$100</td>
                </tr>


                </table>
        </div>
    </div>
</template>
<style scoped>
    .container{
        padding-top:30px;
        width: 80%;
        margin: auto;
    }
    .result-header{
        width: 100%;
        height: 80px;
        box-shadow: 1px 1px 2px #888;
        background: #4fafbf;
        background: -webkit-linear-gradient(left,#4fafbf,#327ec7);
        background: -o-linear-gradient(left,#4fafbf 0,#327ec7 100%);
        background: linear-gradient(90deg,#4fafbf 0,#327ec7);
    }
    .result-header h3{
        color: white;
        padding: 30px 0 30px 30px;
    }
    .result-table{
        height: 500px;
        width: 100%;
        margin-top: 10px;
        -webkit-box-shadow: 0.5px 0.5px 1px #c4c5c6;
        box-shadow: 0.5px 0.5px 1px #c4c5c6;
    }
    table {
        border-collapse: collapse;
        width: 95%;
        padding: 30px;
        margin: auto;
    }
    th{
        padding: 15px 0 15px 8px;
        text-align: left;
        border-bottom: 2px solid #ddd;
    }
    td {
        padding: 8px 0px 8px 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .button-result{
        background: #4fafbf;
        color: #fff;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: 1rem;
        height: 2.25em;
        line-height: 1.5;
        padding-left: calc(.625em - 1px);
        padding-right: calc(.625em - 1px);
        position: relative;
    }
    tr:nth-child(odd) {background-color: #f2f2f2;}
    th {
    background-color: white;
    }
    tr:hover{
        background-color: #c9c9c9;
    }
</style>
