<template>
    <div class="container">
        <div v-if="!displayReset" class="form-style">
            <img style="display: flex;" src="../../public/img/healthdx_logo.png" alt="logo">
            <form action="submitForm">
            <input type="text" placeholder="User name">
            <input type="password" placeholder="Password">
            <div class="button">
                <button type="submit">LOG IN</button>
                <span>Forgor your password? Reset it 
                    <span 
                    style="display:inline; padding: 0px; font-weight:700;cursor:pointer" 
                    @click="displayReset=true">
                    here
                    </span>
                </span>
            </div>
            </form>
        </div>
        <div v-if="displayReset" class="form-style">
            <img style="display: flex;" src="../../public/img/healthdx_logo.png" alt="logo">
            <form action="submitForm">
                <span style="text-align:center; line-height:30px">
                    Please enter your email address and we will send you reset instruction
                </span>
                <input type="email" placeholder="Email">
                <div class="button">
                    <button type="submit">RESET</button>
                </div>
            </form>
            
        </div>
        
    </div>
</template>
<script>
import img from '../../public/img/kuvavalo2.c3bd7f1c.jpg'
export default {
    data(){
        return{
            displayReset:false
        }
    }
}
</script>

<style scoped>
.container{
    background-image: url('../../public/img/kuvavalo2.c3bd7f1c.jpg');
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
}
input{
    display: block;
    margin: auto;
    font-family: Quicksand,arial;
    border: 1px solid #4fafbf!important;
    color: #4fafbf!important;
    background-color: #fff;
    font-size: 1rem;
    height: 2.25em;
    margin-bottom: 20px;
    width: 230px;
    border-radius: 3px;
    padding: 0 10px 0 10px;
}
input:focus {
    outline: none;
}
.form-style{
    height: 380px;
    width: 400px;
    background-color: hsla(0,0%,100%,.7);
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.form-style img{
    width: 50%;
    margin: auto;
    padding: 30px 20px 50px 20px;
}
.button{
    text-align: center;
}
button{
    margin: auto;
    margin-top: 20px;
    width: 170px;
    line-height: 30px;
    font-size: 18px;
    padding: 5px;
    background-color: #4fafbf;
    color: #fff;
    border-radius: 3px;
}
span a{
    text-decoration: none;
    color: #4fafbf;
    font-weight: 700;
    
}
span {
    /* position: absolute;
    left: 10px;
    bottom: 20px; */
    color: #4fafbf;
    padding: 20px;
    display:block;
}
</style>
