<template>
  <div id="app">
    <app-header></app-header>
    <router-view/>
  </div>
</template>
<script>
import AppHeader from './components/Header.vue'
export default {
  components: { AppHeader },
  data() {
    return {
      exceptions: ['/details'],
    };
  },
}
</script>

<style lang="scss">

</style>
